///////////////////

# licence directory

/doc



# Compiled source #

**/*.class



# Logs #

**/*.log



# Packages #

**/*.war

**/*.tar

**/*.zip



# Anything in build/target directories #

**/build

build/

**/target

**/docs





# IntelliJ specific files/directories #

**/.idea

**/*.ipr

**/*.iws

**/*.iml

**/atlassian-ide-plugin.xml



# Eclipse specific files/directories #

**/.classpath

**/.project

**/.settings

**/.metadata



.DS_Store



.gradle

/out/



**/*.txt



